@import url('<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">');

body {
  background-color: #ccffdd;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-weight: lighter;
}

.todo-list {
  margin: auto;
  width: 50%;
  background-color: #4dff88;
  padding: 20px;
  border-radius: 7px;
  letter-spacing: 0.07em;
}

.todo-item {
  justify-content: center;
  text-align: center;
  display: flex;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

