body {
    margin: 0;
    background-color: teal;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    background: #6441A5;
}

.header > img {
    width: 8%;
    margin-left: 10%;   
}

header > p {
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 50px;
    margin-left: 60px;
}

.meme {
    position: relative;
    width: 90%;
    margin: auto;
}

.meme > img {
    width: 80%;
    margin-left: 10%;
}

.meme > h2 {
    position: absolute;
    font-family: impact, sans-serif;
    width: 100%;
    font-size: 42px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: aqua 4px;
    color: white;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 35px 0px; 
}

.meme > .bottom {
    bottom: 0;
}

.meme > .top {
    top: 0;
}

.meme-form {
    width: 90%;
    margin-left: 2.7%;
    padding: 15px;
    display: flex;
}

.meme-form > input {
    padding: 7px 10px;
    font-size: 15px;
    margin-left: 15px;
}

.meme-form > button {
    padding: 7px 10px;
    font-size: 15px;
    margin-left: 10px;
    border: none;
}

.meme-form > button:hover {
    cursor: pointer;
    transform: scale(1.05);
}